# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Runtime
pids
*.pid
*.seed
*.pid.lock

# dotenv env files
.env
.env.*

# OS-specific files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Build folders (just in case)
dist/
build/

db/pool.js